<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.natour">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NaTour"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.RegisterActivity.TransazioneRegister"
            android:exported="false" />
        <activity
            android:name=".view.visualizza_foto_inserite"
            android:exported="false" />
        <activity
            android:name=".view.visualizza_segnalazioni_effettuate"
            android:exported="false" />
        <activity
            android:name=".view.visualizza_itinerari_inseriti"
            android:exported="false" />
        <activity
            android:name=".view.visualizza_recensioni_inserite"
            android:exported="false" />
        <activity
            android:name=".view.InserimentoItinerarioActivity.InserimentoItinerario"
            android:exported="false" />
        <activity
            android:name=".view.RegisterActivity.Register"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity.Login"
            android:exported="false">

        </activity>
        <activity
            android:name=".view.VisualizzaItinerario"
            android:exported="false" />
        <activity
            android:name=".view.Tab.TabActivity"
            android:exported="false" /> <!-- Facebook Requirements -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.amplifyframework.auth.cognito.activities.HostedUIRedirectActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.loginactivity.com"
                    android:scheme="natour" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Signout"
            android:exported="true">
            <intent-filter>
                <data android:scheme="natour" />
            </intent-filter>
        </activity>
    </application>

</manifest>